<!DOCTYPE html>
<html lang="en">
  <head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>Rental Pricing System</title>
 
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
   
  </head>
 
  <body ng-app="rentalSystem">
    <div ng-controller = "mainController">
      <div class="container-fluid">
        <h1 class = "title text-center">Rental Pricing System</h1>
        <p class ="description text-center">Calculate how much you should charge for rent</p>
        <p class ="warning text-center"><b>Note: Please enter numbers only</b></p>
       
        <form ng-submit= "calculateRent()" class='text-center'>
          <input class = 'text-center' type="text" name="numBedrooms" placeholder="Number of Bedrooms" required ng-model = "numBedrooms">
          <input class = 'text-center' type="text" name="numBathrooms" placeholder="Number of Bathrooms" required ng-model= "numBathrooms">
          <input class = 'text-center' type="text" name="sqft" placeholder="Size" required ng-model="sqft">
 
          <button type = "submit" class="btn btn-primary">Calculate Rent</button>
        </form>  
 
        <h3 class = 'text-center'><span ng-bind = "rentalCost">{{ rentalCost }}</span> 
        <span ng-bind="newSqft">{{newSqft}}</span>
        <span ng-bind = "newNumBedrooms">{{ newNumBedrooms }}</span><span ng-bind="newNumBathrooms">{{newNumBathrooms}}</span></h3>

        <h4 class = "comparison text-center"><span ng-bind="comparison">{{comparison}}</span><br/></h4>
        <h5 class = "stats text-center">
          <span ng-bind="medianSqftOfHousesWithSameBedrooms">{{medianSqftOfHousesWithSameBedrooms}}</span>
          <br/>
          <span ng-bind="medianPriceOfHousesWithSameBedrooms">{{medianPriceOfHousesWithSameBedroom}}</span>
          <br/>
          <span ng-bind="averagePriceOfHousesWithSameBedrooms">{{averagePriceOfHousesWithSameBedrooms}}</span>
          <br/>
          <span ng-bind="rangePriceOfHousesWithSameBedrooms">{{rangePriceOfHousesWithSameBedrooms}}</span>
        </h5>

      </div>
    </div>

    <script>
    var rentalSystem = angular.module("rentalSystem", []);
    console.log('angular', angular)
    rentalSystem.controller('mainController', function($scope, $http){
      console.log("here?");
      $scope.calculateRent = function(item, event){
        console.log('here')
        var dataObject = {
          numBedrooms: $scope.numBedrooms,
          numBathrooms: $scope.numBathrooms,
          sqft: $scope.sqft
        };
        console.log('submitting form....', dataObject);
 
        var response = $http.post("/getVariablesAndCalculate", dataObject, {});
        response.success(function(dataFromServer){
          //parse dataFromServer into different scope variables 
          var variableArray = dataFromServer.split(','); 
 
          var calculatedRentalCost = 'You should charge $'+parseFloat(variableArray[0]).toFixed(2)+ ' for rent at your '; 
          var calculatedNumBedrooms = variableArray[1]+ 'Bed/'; 
          var calculatedNumBathrooms = variableArray[2] + 'Bath house'; 
          var calculatedSqft = variableArray[3] +' sqft ';
          if(isNaN(parseFloat(variableArray[4]).toFixed(2)) == true){
            var calculatedMedianPriceOfHousesWithSameBedrooms = 'Median Price: Not Available';
          }else{
            var calculatedMedianPriceOfHousesWithSameBedrooms = 'Median Price: $' + parseFloat(variableArray[4]).toFixed(2);
          }
          var calculatedAveragePriceOfHousesWithSameBedrooms = 'Average Price: $' + parseFloat(variableArray[5]).toFixed(2); 
          var calculatedMinPriceOfHousesWithSameBedrooms = variableArray[6]; 
          var calculatedMaxPriceOfHousesWithSameBedrooms = variableArray[7]; 
          var calculatedMedianSqftOfHousesWithSameBedrooms = 'Median Size: ' + variableArray[8]; 
          
          $scope.numBedrooms = '';
          $scope.numBathrooms = ''; 
          $scope.sqft = '';
          $scope.rentalCost = calculatedRentalCost;
          $scope.newNumBedrooms = calculatedNumBedrooms; 
          $scope.newNumBathrooms = calculatedNumBathrooms;             
          $scope.newSqft = calculatedSqft; 
          $scope.comparison = "In comparison to similar rentals: "
          $scope.medianPriceOfHousesWithSameBedrooms = calculatedMedianPriceOfHousesWithSameBedrooms;
           
          $scope.averagePriceOfHousesWithSameBedrooms = calculatedAveragePriceOfHousesWithSameBedrooms; 
          $scope.rangePriceOfHousesWithSameBedrooms = 'Price Range: $'+  calculatedMinPriceOfHousesWithSameBedrooms +' - $' +calculatedMaxPriceOfHousesWithSameBedrooms; 
          $scope.medianSqftOfHousesWithSameBedrooms = calculatedMedianSqftOfHousesWithSameBedrooms + ' Square Feet'; 
          

          console.log('success');
        });
        response.error(function(dataFromServer){
          console.log('error');
        });
      };
    });
    </script>
    
  </body>
</html>