<!DOCTYPE html>
<html lang="en">
  <head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>Rental Pricing System</title>
 
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
   
  </head>
 
  <body ng-app="rentalSystem">
    <div ng-controller = "mainController">
      <div class="container-fluid">
        <h1 class = "title">Rental Pricing System</h1>
        <p class ="description">Calculate how much you should charge for rent</p>
       
        <form ng-submit= "calculateRent()">
          <input type="text" name="numBedrooms" placeholder="Number of Bedrooms" required ng-model = "numBedrooms">
          <input type="text" name="numBathrooms" placeholder="Number of Bathrooms" required ng-model= "numBathrooms">
          <input type="text" name="sqft" placeholder="Square Footage" required ng-model="sqft">
 
          <button type = "submit" class="btn btn-primary">Calculate Rent</button>
        </form>  
 
        <h3><span ng-bind = "rentalCost">{{ rentalCost }}</span> <span ng-bind = "newNumBedrooms">{{ newNumBedrooms }}</span></h3>
        <h3>The average price of </h3>

      </div>
    </div>

    <script>
    var rentalSystem = angular.module("rentalSystem", []);
    console.log('angular', angular)
    rentalSystem.controller('mainController', function($scope, $http){
      console.log("here?");
      $scope.calculateRent = function(item, event){
        console.log('here')
        var dataObject = {
          numBedrooms: $scope.numBedrooms,
          numBathrooms: $scope.numBathrooms,
          sqft: $scope.sqft
        };
        console.log('submitting form....', dataObject);
 
        var response = $http.post("/getVariablesAndCalculate", dataObject, {});
        response.success(function(dataFromServer){
          //parse dataFromServer into different scope variables 
          var variableArray = dataFromServer.split(','); 

          var calculatedRentalCost = 'You should charge $'+parseFloat(variableArray[0]).toFixed(2)+ ' for rent'; 
          var calculatedNumBedrooms = 'in your '+ variableArray[1]+ ' bedroom and '; 
          var calculatedNumBathrooms = variableArray[2]; 
          var calculatedSqft = variableArray[3]; 
          var calculatedMedianPriceOfHousesWithSameBedrooms = parseFloat(variableArray[4]).toFixed(2); 
          var calculatedAveragePriceOfHousesWithSameBedrooms = parseFloat(variableArray[5]).toFixed(2); 
          var calculatedMinPriceOfHousesWithSameBedrooms = variableArray[6]; 
          var calculatedMaxPriceOfHousesWithSameBedrooms = variableArray[7]; 
          var calculatedMedianSqftOfHousesWithSameBedrooms = variableArray[8]; 

          $scope.rentalCost = calculatedRentalCost;
          $scope.newNumBedrooms = calculatedNumBedrooms; 
          $scope.newNumBathrooms = calculatedNumBathrooms; 
          $scope.newSqft = calculatedSqft; 
          $scope.medianPriceOfHousesWithSameBedrooms = calculatedMedianPriceOfHousesWithSameBedrooms; 
          $scope.averagePriceOfHousesWithSameBedrooms = calculatedAveragePriceOfHousesWithSameBedrooms; 
          $scope.minPriceOfHousesWithSameBedrooms = calculatedMinPriceOfHousesWithSameBedrooms; 
          $scope.maxPriceofHousesWithSameBedrooms = calculatedMaxPriceOfHousesWithSameBedrooms; 
          $scope.medianSqftOfHousesWithSameBedrooms = calculatedMedianSqftOfHousesWithSameBedrooms; 

          console.log('success');
        });
        response.error(function(dataFromServer){
          console.log('error');
        });
      };
    });
    </script>
    
  </body>
</html>